input.ng-invalid.ng-touched{
  border: 2px solid red;
}
input.ng-valid{
  border: 2px solid rgb(0, 255, 0);
}



#contenitore-globale{
  position: fixed;
 width: 100%;
 height: 100vh;
 top: 0;
 z-index: 10;
 background-color: #000000b0;
 margin: 0;
 padding: 0;
 text-align: center;


 .card-congratulazioni{
  background-color: #e7d7d7;
    margin-top: 60px;
  width: 42%;
  margin-left: 30%;
  border-radius: 20px;
  border-radius: 8%;

  .congratulazioni{
    margin-top: 25px;
    color: darkgreen!important;
    margin-bottom: 20px;
   }

   .container-card {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 20px;
    height: 50vh;

    .card {
      display: flex;
      width: 75%;
      float: left;
      margin-bottom: 20px;
    }

    .card-title{
      font-weight: bold;
      font-size: 25px;
      color: darkgreen!important;
    }

    .card-text{
      font-size: 10px;
      text-align: justify;
    }
    .card-image {
      height: 150px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

    }

    .stelle{
      float: right;
      width: 120px;
      margin-top: 5px;
    }



  }
  .bottone-nuova{
    color: white;
    margin-bottom: 10px;
    color: darkgreen!important;
    border-radius: 20px;
    width: 200px;

  }
 }

 .exit{
  display: flex;
  position: absolute;
  top: 67px;
  right: 468px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  color: darkgreen!important;
  border-radius: 20px;
  height: 30px;
  margin-right: 69px;
  max-width: 28px;
 }

 p.card-text {
  font-size: 16px!important;
  color: darkgreen!important;
}

.card-image {
  height: 190px!important;
}
}
