@import '~bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
  font-family: 'Montserrat', sans-serif;
}

  footer {
    height: 100px;
    /* width: 100%; */
    background-color: #8e210b;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}





#main-container {
  padding: 15px; //spazio a destra e sinistra

  p {
    text-align: justify; //testo giustificato, no sinistra o destra
    font-size: 21px;
  }
}

.testo-evidenziato {
  background-color: yellow;
  width: 548px;
}

.variabilePercorso2 {
  margin-top: -19px; // attacca l'img alla navbar
  margin-bottom: 20px;
}


.picsum-img-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}


ngb-carousel.carousel.slide .carousel-caption h3, ngb-carousel.carousel.slide .carousel-caption .h3 {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-content: center;
}




//Stili Bootstrap per Carousel
ngb-carousel.carousel.slide {
  margin-top: -19px; // attacca l'img alla navbar
  margin-bottom: 20px;
    margin-top: -19px;
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;


  .carousel-caption {
    top: 26rem;

    h3 {
      font-family: "Homemade Apple", cursive;
      font-size: 40px;
      text-shadow: black 2px 3px 3px; // x,y e sfogatura
    }

    h2 {
      font-size: 20px;
      text-shadow: black 2px 2px 3px;
      font-weight: lighter;
    }

  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  opacity: 1, im !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
}


app-recipes {
  margin-top: -20px;
  margin-left: -10px;
  display: flex;
}

.-password {
  display: block !important;
}

.p-inputtext {
  width: 100% !important;
}

.p-password-input {
  width: 100% !important;
}



.p-password {
  display: block !important;
}

.p-inputtext {
  width: 100% !important;
}

.p-password-input {
  width: 100% !important;
}

.ng-tns-c61-0.pi.pi-eye.ng-star-inserted {
  margin-right: 26px;
}


div#contenitore-globale {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  background-color: #000000b0;
  margin: 0;
  padding: 0;
}


                                    //ricette page

                              //recipe-card paginazione



.ngb-pagination{
  margin-left: 50%;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
}

.container-pagination {
  text-align: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  padding: 45px;
}

ul.pagination {
  // margin-left: 44%;
  padding: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

}

.div-h5-titleRicettePerPagina {
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.sotto-titolo{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p.p {
  text-align: center;
  font-size: 33px;
}



.container-pagination2 {
  margin-right: 2%;
}

.navbar-toggler {
  margin-right: 20px;
}

// Recipe-card



.page-link.active, .active > .page-link {
  color: white!important;
  background-color: #8e210b!important;
}

.page-link {
  color: #8d1521!important;
  border: var(--bs-pagination-border-width) solid #febbffe3!important;
}

li.page-item {
  background-color: #ff0088 !important;
}

.pagination {
  --bs-pagination-hover-bg: #ffeda5!important;
  --bs-pagination-focus-bg: #f1f9b9!important;
  --bs-pagination-disabled-bg: #ffeda5!important;
--bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(255, 250, 161)!important;

}


// DA QUI HO AGGIUNTO I DISPLAY:FLEX;


// ----------- Home ------------


.h2[_ngcontent-cgq-c120] {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}



// ------------------------------   Footer ---------------------------

@media only screen and (min-width: 650px) and (max-width: 959px){

  footer {
    // width: 106%;
    margin-top: 57px;
}

  ngb-carousel.carousel.slide .carousel-caption h3, ngb-carousel.carousel.slide .carousel-caption .h3 {
    font-size: 38px;
  }

  // h2 {
  //   font-size: 17px;
  // }

  #main-container p {
    font-size: 19px;
  }
}








@media only screen and (min-width: 481px) and (max-width: 649px){

  footer {
    // width: 106%;
    margin-top: 57px;
}

  ngb-carousel.carousel.slide .carousel-caption h3, ngb-carousel.carousel.slide .carousel-caption .h3 {
    font-size: 29px;
}

#main-container p {
  font-size: 17px;
}


}







@media only screen and (min-width: 0px) and (max-width: 480px){

  footer {
    // width: 106%;
    margin-top: 163%;
  }

ngb-carousel.carousel.slide .carousel-caption h3, ngb-carousel.carousel.slide .carousel-caption .h3 {
  font-size: 20px;
}

#main-container p {
  font-size: 15px;
}




}









@import '~bootstrap/scss/bootstrap';
