#contenitore{
  height: 70vh;

  form{
    width:30%;
    margin-top: 80px;
    float: left;
    margin-left: 35%;

    button.btn.btn-primary.btn-block.mb-4{
      width: 100%;
      background-color: #8e210b;
    }
  }
}
