.container-fluid{
  display:block;
  //float:left;
  margin-bottom: 20px;
  height: 100vh;

  .container-image{
    //width:23%;
    //margin-left: 1.5%;
    float:left;
    margin-bottom: 20px;
  }
  .card-title{
    font-size: bold;
    font-size: 23px;;
    color: #8e210b;
  }

.card-image{
  height: 330px;
  //background-image: url(https://www.kikkoman.eu/fileadmin/user_upload/03-recipes/WEB_Spagetti_med_kjoettsaus.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
p,h5{
  padding: 10px;
  //font-weight: bold;
}
}

